pandas==2.1.4
numpy==1.26.4
yfinance
https://github.com/twopirllc/pandas-ta/archive/master.zip
xgboost
scikit-learn
plotly
python-dotenv
ta
python-telegram-bot
mercadopago
sqlalchemy
requests
anthropic
psycopg2-binary
