pandas==2.1.4
numpy==1.26.4
yfinance
https://www.pandas-ta.dev/assets/zip/pandas_ta-0.3.14b.tar.gz
xgboost
scikit-learn
plotly
python-dotenv
ta
python-telegram-bot
mercadopago
sqlalchemy
requests
anthropic
flask
